

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url(img/landscape-tree-nature-forest-rock-wilderness-5577-pxhere.com.jpg);
    background-position: center;
    background-size: cover;
}
.titulo{
    color: white;
    margin-bottom: 20px;
}
.header-content{
    background-color: rgba(0, 0, 0, 0.46);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caixa-frase{
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    text-align: center;
}
.caixa-frase h3{
    font-weight: lighter;
    font-size: 30px;
}

/*Portfólio*/
.portfolio{
    width: 100vw;
    
    
}
.port-content{
    display: flex;
    height: 100vh;
}
.texto{
    background-color: rgb(12, 12, 12);
    padding: 100px;
    display: flex;
    justify-content: center;
    width: 50%;
}
.texto-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
input[type=button]{
    width: 100px;
    height: 40px;
    color: white;
    background-color: transparent;
}
.image{
    display: flex;
    width: 50%;
    
}
.image img{
    width: 100vw;
    height: 100%
}

@media  (max-width: 750px) {

   
   
 
    .port-content{
        display: flex;
        flex-direction: column;
    }
    .texto{
        padding: 40px;
       
    }
    .image{
        width: 100%;
        
    }
    .image img{
        width: 100vw;
        height: 100%;
        
    }
    .texto{
        width: 100%;
    }
}

@media  (max-width: 450px) {

    .titulo{
        font-size: 30px;
        text-align: center;
    }
    .title{
        margin-top: 30px;
    }
    .port-content{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .texto{
        padding: 40px;
        width: 100vw;
        height: 100vh;
    }
    .image{
        width: 100%;
    }
    .image img{
        width: 100vw;
        
    }
    .texto{
        width: 100%;
    }
}

