

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url(img/landscape-tree-nature-forest-rock-wilderness-5577-pxhere.com.jpg);
    background-position: center;
    background-size: cover;
}
.titulo{
    color: white;
    margin-bottom: 20px;
}
.header-content{
    background-color: rgba(0, 0, 0, 0.46);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caixa-frase{
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    text-align: center;
}
.caixa-frase h3{
    font-weight: lighter;
    font-size: 30px;
}

/*Portfólio*/
.portfolio{
    
}
.port-content{
    display: flex;
}
.texto{
    background-color: rgb(12, 12, 12);
    padding: 100px;
    display: flex;
    justify-content: center;
}
.texto-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
input{
    width: 100px;
    height: 40px;
    color: white;
    background-color: transparent;
}
.image{
    width: 50%;
}
.image img{
    width: 800px;
    height: 600px
}

@media  (max-width: 650px) {
    .titulo{
        font-size: 30px;
        text-align: center;
    }
    .caixa-frase{
        height: 100px;
        
    }
    .caixa-frase h3 {
        font-size: 18px;
    }
    .title{
        margin-top: 30px;
    }
}

